{% import 'shared/_currency.macro.html.twig' as currency %}

<li class="list-group-item d-flex justify-content-between w-100 align-items-center py-3 {{ not budget.enable ? 'list-group-item-secondary' : '' }}">
    <div class="d-flex flex-column w-100">
        <div class="d-flex justify-content-between w-100">
            <div class="d-flex justify-content-center align-items-start w-100 flex-column">
                {{ budget.name }}
                <a data-turbo="true" href="{{ path('front_budget_cash_flow_by_account', {'id': budget.id}) }}" class="link-offse&é&&&&&&&&&&&&&&t-3 link-dotted text-white-50" data-bs-toggle="tooltip" data-bs-title="Voir la balance par compte">
                    {% if budget.hasNegativeCashFlow %}
                        <span class="me-2 text-danger" data-bs-toggle="tooltip" data-bs-title="Dépassement">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <small>{{ budget.cashFlow | currency }}</small>
                        </span>
                    {% endif %}
                    {% if budget.hasPositiveCashFlow %}
                        <span class="me-2 text-success" data-bs-toggle="tooltip" data-bs-title="Surplus">
                            <i class="fa-solid fa-piggy-bank"></i>
                            <small>{{ budget.cashFlow | currency }}</small>
                        </span>
                    {% endif %}
                </a>
            </div>
            <div class="w-50 me-3 text-end {{ not budget.enable ? 'text-decoration-line-through' : '' }}">
                {{ currency.amount(budget.amount, true, not budget.enable) }}
            </div>
        </div>
        <ul class="m-0 p-0 space-y-2">
            <turbo-frame id="budget_list_item__cash_flow_by_account_{{ budget.id }}"></turbo-frame>
        </ul>
    </div>
    <div class="position-absolute" style="right: 0; top: 0.7rem;">
        <div class="dropstart">
            <button type="button" class="btn dropdown-toggle text-secondary border-0" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="{{ path('back_budget_edit', {'id': budget.id}) }}">Modifier</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                {% if budget.enable %}
                    <li><a class="dropdown-item" data-turbo="true"
                           href="{{ path('front_budget_toggle', {'id': budget.id}) }}">Désactiver</a></li>
                {% else %}
                    <li><a class="dropdown-item" data-turbo="true"
                           href="{{ path('front_budget_toggle', {'id': budget.id}) }}">Activer</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</li>
