{% import 'shared/_currency.macro.html.twig' as currency %}

<turbo-frame id="budget_list_item_{{ budget.id }}">
    <li class="list-group-item d-flex justify-content-center align-items-center py-3 {{ not budget.enable ? 'disabled' : '' }}">
        <div class="d-flex justify-content-start align-items-center w-100">
            {% if not budget.enable %}
                <span class="me-2"><i class="fa-solid fa-skull-crossbones"></i></span>
            {% endif %}
            {{ budget.name }}
        </div>
        <div class="w-50 me-3 text-end {{ not budget.enable ? 'text-decoration-line-through' : ''  }}">
            {{ currency.amount(budget.amount, true, not budget.enable) }}
        </div>
        <div class="position-absolute" style="right: 0">
            <div class="dropstart">
                <button type="button" class="btn dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="{{ path('back_budget_edit', {'id': budget.id}) }}">Modifier</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" data-turbo="true" href="{{ path('front_budget_disable', {'id': budget.id}) }}">Désactivé</a></li>
                </ul>
            </div>
        </div>
    </li>
</turbo-frame>