{% import 'shared/_currency.macro.html.twig' as currency %}

{% if( isInstanceOf(value, 'App\\Domain\\Budget\\ValueObject\\BudgetValueObject') ) %}
    {% set name = value.name %}
    {% set progress = value.progress(true) %}
    {% set status = value.status(true).value %}
    {% set amount = value.amount %}
    {% set trueRelativeProgress = value.relativeProgress(true) %}
{% else %}
    {% set name = value.budget.name %}
    {% set progress = value.relativeProgress %}
    {% set status = value.status.value %}
    {% set amount = value.amount %}
    {% set trueRelativeProgress = value.relativeProgress %}
{% endif %}

<div class="col-12 col-md-6 d-flex justify-content-center align-items-center flex-column budget py-2">
    <div class="d-flex justify-content-between align-items-center w-100">
        <div class="">{{ name }}</div>
        <div class="d-flex justify-content-center align-items-center">
            <small>
                {{ currency.progress(progress, status) }}
                <span>/ {{ currency.amount(amount, 'false') }}</span>
            </small>
        </div>
    </div>
    <div class="w-100">
        <div class="progress w-auto my-2 bg-light bg-opacity-25">
            {% set relativeProgress = min(
                trueRelativeProgress, 100
            ) %}
            <div class="progress-bar progress-bar-striped {{ status }}"
                 style="width: {{ relativeProgress }}%;"
            >
                {{ trueRelativeProgress | round }}%
            </div>
        </div>
    </div>
</div>