{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-acrylic rounded p-3 mt-4 mb-2">
        {{ form_start(form) }}

        <div class="mb-2">
            {{ form_row(form.name) }}
        </div>
        <div class="mb-2">
            {{ form_row(form.amount) }}
        </div>
        <div class="mb-2">
            {{ form_row(form.enable) }}
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-gradient-accent">Enregistrer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}