{% import 'shared/_currency.macro.html.twig' as currency %}

<div class="card bg-gradient-accent text-white">
    <div class="card-body p-0 position-relative">
        <div class="text-center my-3">
            <span class="text-white-50">Balance</span>
            <h3 class="m-0">{{ currency.amount(entryBalance.total, false) }}</h3>
        </div>
        <div class="d-flex justify-content-center align-items-center bg-dark bg-opacity-10 py-2">
            <div class="d-flex justify-content-start align-items-center flex-column w-100">
                <span class="text-white-50">
                    <i class="fa-solid fa-leaf"></i>
                    Dépense
                </span>
                <small>{{ currency.amount(entryBalance.totalSpent, false) }}</small>
            </div>
            <div>
                <a href="{{ path('home_transfer') }}" class="btn rounded-circle bg-white bg-opacity-25 d-flex justify-content-center align-items-center p-2">
                    <i class="fa-solid fa-right-left"></i>
                </a>
            </div>
            <div class="d-flex justify-content-start align-items-center flex-column w-100">
                <span class="text-white-50">
                    <i class="fa-solid fa-shield-halved"></i>
                    Provision
                </span>
                <small class="text-white">{{ currency.amount(entryBalance.totalForecast, false) }}</small>
            </div>
        </div>

        <div class="position-absolute" style="right: 0; top: 0;">
            <div class="dropstart">
                <button type="button" class="btn dropdown-toggle text-secondary border-0" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="fa-solid fa-paw fs-4 p-2 text-white"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li>
                        <a class="dropdown-item" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ path('back_account_account_list', {enabled: true}) }}">Comptes</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ path('back_budget_budget_list', {enabled: true}) }}">Budgets</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ path('back_entries_list') }}">Entrés</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ path('back_periodicentry_list') }}">Entrées périodique</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>