<div {{ stimulus_controller('radial_menu', {maxAngle: 121, offset: 15}) }} class="radial-menu left ">
    <input type="checkbox" id="toggle" checked>
    <label for="toggle" class="btn btn-xs rounded-circle d-flex justify-content-center align-items-center bg-gradient-accent text-white">
        <img src="{{ asset('img/logo2.png') }}" alt="logo" class="img-fluid " style="width: 2.5rem;">
    </label>
    <div class='items'>
        <a href="{{ path('home') }}" {{ stimulus_target('radial_menu', 'menu_item') }} title="Statistiques">
            <span class="fa fa-chart-line"></span>
        </a>
        <a href="{{ path('back_account_account_list', {enabled: true}) }}" {{ stimulus_target('radial_menu', 'menu_item') }} title="Comptes">
            <span class="fa fa-bank"></span>
        </a>
        <a href="{{ path('back_budget_budget_list', {enabled: true}) }}" {{ stimulus_target('radial_menu', 'menu_item') }} title="Budgets">
            <span class="fa fa-piggy-bank"></span>
        </a>
        <a href="{{ path('back_entries_list') }}" {{ stimulus_target('radial_menu', 'menu_item') }} title="Entries">
            <span class="fa fa-cash-register"></span>
        </a>
        <a href="{{ path('back_periodicentry_list') }}" {{ stimulus_target('radial_menu', 'menu_item') }} title="Entrées périodique">
            <span class="fa fa-file-invoice fa-regular fa-clock"></span>
        </a>
        <a href="{{ path('back_assignment_list') }}" {{ stimulus_target('radial_menu', 'menu_item') }} title="Affectations">
            <span class="fa fa-solid fa-circle-dollar-to-slot"></span>
        </a>
    </div>
</div>